@model GuildCars.UI.Models.UsersVM
@{
    ViewBag.Title = "EditUser";
}

<h2>Edit User</h2>

<div class="container" id="adminEditUser">

    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.UserID)
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    @Html.LabelFor(m => m.FirstName, "First Name: ")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", value = Model.FirstName, required = "required" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    @Html.LabelFor(m => m.LastName, "Last Name: ")
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", value = Model.LastName, required = "required" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    @Html.LabelFor(m => m.Email, "Email: ")
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", value = Model.Email })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    @Html.LabelFor(m => m.Role, "Role: ")
                    @Html.DropDownList("Role", (SelectList)ViewBag.Name, "")
                    @*<select class="form-control" id="addUserRole" name="Role">
                            <option value="@Model.Role" selected disabled>@Model.Role</option>
                            <option value="Admin">Admin</option>
                            <option value="Sales">Sales</option>
                            <option value="Disabled">Disabled</option>
                        </select>*@
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Role)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                </div>
            </div>

        </div>

        <input type="submit" class="btn btn-default" value="Save" />

    }
</div>

